@font-face {
    font-family: "NimbusSanL-Regu";
    font-style: normal;
    src: url(./fonts/NimbusSanL-Regu.woff);
}

@font-face {
    font-family: "NimbusSanL-Bold";
    font-style: bold;
    src: url(./fonts/NimbusSanL-Bold.woff);
}

@font-face {
    font-family: "NimbusSanL-ReguItal";
    font-style: italic;
    src: url(./fonts/NimbusSanL-ReguItal.woff);
}

::selection {
    color: #000;
    text-shadow: #bdb3af 0px 0px 6px;
    text-decoration: underline dotted;
}

p,
h2,
h3,
h4,
header {
    font-family: "NimbusSanL-Regu", sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
}

h1 {
    font-family: "NimbusSanL-Bold", sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
}

article {
    padding: 5px;
    max-width: 800px;
    margin: 0 auto;
}

footer {
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    font-size: 12px;
    margin: 0;
}

p {
    margin-bottom: 1em;
}

p.footer {
    font-size: 12px;
    color: #555;
}
@media (min-width: 800px) {
    p,
    h1,
    h2,
    h3 {
        font-size: 24px;
    }
    article {
        margin: 3em auto;
    }
}

a {
    color: #000;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

a::after {
    content: "\2B5F";
    color: #555;
}

button {
    font-size: 24px;
    color: #000;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}
button::after {
    content: "\2B5F";
    color: #555;
}

img {
    display: block;
    margin: auto;
}

hgroup h3,
hgroup p {
    display: inline;
}

hgroup h3 {
    margin-right: 10px;
}

mark {
    background-color: #bdb3af;
}

.header-right {
    float: right;
    padding: 5px;
    max-width: 400px;
    margin-bottom: 1em;
}

.header-left {
    float: left;
    padding: 5px;
    max-width: 400px;
    margin-bottom: 1em;
}

img.header-left {
    width: 30%;
}

.path {
    stroke-dasharray: 1530;
    stroke-dashoffset: 1530;
    animation: dash 3s ease-in-out forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.preview-panel {
    display: none;
    position: fixed;
    top: 75%;
    right: 35%;
    transform: translateY(-50%);
    width: 250px;
    z-index: 10;
    overflow: hidden;
}

.preview-panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}
